*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header {
    background: blueviolet;
    min-height: 600px;
    max-width: 1200px;
    margin: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.link {
    display: block;
    color: crimson;
    font-size: 25px;
    margin: 0 15px;
    
}
