@media(max-width: 1800px) {
    .circle,
    .cube {
        display: none;
    }
}
@media(max-width:1200px) {
    .works__bg,
    .front__bg {
        width: 100%;
    }
}
@media(max-width: 991px) {
    .front__bg {
        bottom: 50px;
    }
    .works__bg {
        top: 20px;
    }
}
@media(max-width: 767px) {
    .front__bg, 
    .works__bg {
        display: none;
    }
}
@media(max-width: 550px) {
    .slider__desc {
        font-size: 25px;
        line-height: 28px;
    }
    .front__label {
        padding-top: 12px;   
        padding-bottom: 12px;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
    }
    .front-title {
        font-size: 24px;
        text-align: center;
    }
    .front-list {
        text-align: center;
    }
    .front-btn {
        margin: auto;
    }
    .works__txt {
        margin-left: 0;
        text-align: center;
    }
    .works__btn {
        margin: 0 auto;
    }
    .footer__link {
        font-size: 20px;
    }
    .footer__elem .footer__link {
        font-size: 20px;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --violetColor: #7177F1;
        --whiteColor: #151437;
        --blackColor: #FFFFFF;
    }
    .header__logo, 
    .header__order,
    .slider__btn,
    .front-btn,
    .works__btn,
    .footer__link,
    .front__five {
        color: var(--blackColor) !important;
    }
    .carousel-indicators button {
        background-color: var(--blackColor) !important;
    }
    .front__label{
        background-color: var(--violetColor) !important;
    }
    .accordion-button{
        background-color: var(--whiteColor) !important;
    }
    .accordion-button:not(.collapsed) {
        color: var(--blackColor) !important;
        background-color: var(--violetColor) !important;
    }
    .accordion-body {
        color: var(--blackColor) !important;
    }
    .accordion-button:not(.collapsed)::after {
        color: var(--blackColor) !important;
    }
}