@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}
body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    background-color: var(--whiteColor);
}
:root {
    --violetColor: #7177F1;
    --whiteColor: #FFFFFF;
    --blackColor: #323232;
}
.header {
    padding: 12px 0;
    margin-bottom: 30px;
}
.navbar {
    padding: 0 !important;
}
.header__link {
    color: var(--violetColor) !important;
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    padding: 0 !important;
    margin: 0 15px;
}
.header__order{
    padding: 10px 43px !important;
    color: var(--whiteColor) !important;
    background: var(--violetColor);
    border-radius: 8px;
    text-transform: capitalize;
    width: max-content;
}
.header__logo {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-style: italic;
    color: var(--blackColor);
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header__span{
    font-style: normal;
    color: var(--violetColor);
}
.bars {
    position: relative;
    width: 27px;
    height: 1px;
    margin-right: 3px;
    background: var(--blackColor);
}
.bars::before, .bars::after {
    content: '';
    height: 100%;
    position: absolute;
    background: var(--blackColor);
}
.bars::before {
    width: 18px;
    top: -7px;
    right: -3px;
}
.bars::after {
    width: 36px;
    top: 7px;
    right: 3px;
}
.bright {
    width: 27px;
    position: relative;
    margin-left: 14px;
    box-shadow: 0 0 10px 1px rgba(113, 119, 241, 0.8);
}
.bright::before, .bright::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--violetColor);
    filter: blur(1px);
}
.bright::before {
    top: -7px;
}
.bright::after {
    top: 7px;
}
.slider__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: var(--blackColor);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.slider__txt {
    margin-bottom: 50px;
}
.slider__desc {
    max-width: 520px;
    width: 100%;
    color: var(--violetColor);
    text-transform: capitalize;
    font-weight: 600;
    line-height: 50px;
    font-size: 40px;
    margin-bottom: 25px;
}
.slider__btn{
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    padding: 12px 58px;
    border-radius: 8px;
    background: var(--violetColor);
    color: var(--whiteColor);
    display: block;
    width: max-content;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.slider__icons-span {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--violetColor);
}
.slider__img{
    max-width: 550px;
    width: 100%;
    display: block;
}
.carousel-indicators {
    position: static;
    margin: 50px 0 74px;
}
.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background: #828282 !important;
    border: none !important;
    opacity: 1 !important;
    margin: 0 15px !important;
}
.carousel-indicators button.active {
    background: var(--violetColor) !important;
}
.front {
    margin-bottom: 78px;
    position: relative;
    display: flex;
    align-items: center;
}
.front__bg {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -265px;
}
.front-pic {
    position: relative;
}
.front__img {
    max-width: 460px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.front__label {
    position: absolute;
    padding: 24px 31px 24px 19px;
    border-radius: 8px;
    background: var(--whiteColor);
    color: var(--blackColor);
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    margin-bottom: 0 !important;
    top: 14px;
    left: 0;
}
.front__five {
    border-radius: 50%;
    background: #0FDAC2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: 700;
    font-style: italic;
    color: var(--whiteColor);
    top: -14px;
    right: -9px;
}
.front__content {
    max-width: 630px;
    width: 100%;
    background: var(--whiteColor);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    height: 100%;
    padding: 30px;
}
.front-title {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 30px;
    color: var(--violetColor);
    margin-bottom: 25px;
}
.front-list {
    padding-left: 0 !important;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 27px;
    color: var(--blackColor);
    margin-bottom: 20px;
}
.front-list li:first-of-type {
    margin-bottom: 36px;
}
.front-btn {
    background: var(--violetColor);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 14px 32px !important;
    color: var(--whiteColor);
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    display: block;
    width: max-content;
    margin-left: 80px;
}
.cap__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--violetColor);
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
}
.cap__img {
    max-width: 630px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.accordion-button {
    padding: 15px 30px;
    text-transform: uppercase;
    color: var(--violetColor);
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
}
.accordion-button span {
    margin-left: 20px;
    display: inline-block;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: none;
}
.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}
.accordion-button:not(.collapsed) {
    background: var(--violetColor);
    color: var(--whiteColor);
    box-shadow: none;
    z-index: 6;
}
.accordion-body {
    padding: 10px 30px 55px;
    color: var(--whiteColor);
    background: var(--violetColor);
    font-size: 18px;
    line-height: 27px;
}
.accordion-button::after {
    content: '\f0d8';
    background-image: none;
    width: auto;
    height: auto;
    color: var(--violetColor);
    font-size: 25px;
    font-family: "Font Awesome 5 Pro";
}
.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    color: var(--whiteColor) !important;
}
.accordion-button i {
    font-size: 30px;
    font-weight: 500;
}
.accordion-item {
    border: none;
}
.accordion-button::before {
    content: '';
    background: #DDDDDD;
    height: 1px;
    position: absolute;
    border-radius: 8px;
    left: 0;
    right: 0;
    bottom: -1px;
    margin: 0 10px;
    z-index: 5;
}
.accordion-item:last-of-type .accordion-button::before{
    display: none;
}
.accordion-button:not(.collapsed)::before {
    display: none;
    z-index: -1;
}
.accordion-button:hover {
    z-index: auto;
}
.accordion-button:hover:not(.collapsed) {
    z-index: 6;
}

.cap {
    margin-bottom: 85px;
}
.works {
    margin-bottom: 220px;
    position: relative;
    display: flex;
    align-items: center;
}
.works__bg {
    position: absolute;
    z-index: -1;
    top: -230px;
}
.works .nav-pills {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    overflow: hidden;
}
.works .nav-link {
    padding: 19px 20px;
    color: var(--violetColor);
    text-transform: uppercase;
    background: var(--whiteColor);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    border-radius: 0 !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.nav-pills .nav-link.active {
    background: var(--violetColor);
    color: var(--whiteColor);
}
.works__content {
    border-radius: 8px;
    background: var(--whiteColor);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    padding: 20px 30px 20px 20px;
}

.works__txt {
    max-width: 630px;
    width: 100%;
    margin-left: 30px;
}
.works__headline{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--violetColor);
    margin-bottom: 25px;
}
.works__list {
    padding: 0 !important;
    font-size: 18px;
    line-height: 27px;
    color: var(--blackColor);
    text-transform: capitalize;
    margin-bottom: 20px;
}
.works__list li:first-of-type {
    margin-bottom: 37px;
}
.works__btn {
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 12px 62px;
    background: var(--violetColor);
    color: var(--whiteColor);
    text-transform: capitalize;
    margin-left: 30px;
    display: block;
    width: max-content;
}
.footer {
    padding-bottom: 133px;
    position: relative;
}
.footer__logo {
    margin-right: 0 !important;
    margin-bottom: 30px;
}
.footer__elem, .footer__list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.footer__elem {
    margin-bottom: 15px !important;
}
.footer__elem .footer__link {
    font-size: 24px;
    line-height: 29px;
    color: var(--violetColor);
    text-transform: capitalize;
    margin: 0 15px;
}
.footer__link {
    font-size: 24px;
    line-height: 29px;
    color: var(--violetColor);
    text-transform: capitalize;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.footer__link::before {
    content: '';
    position: absolute;
    height: 1px;
    background: var(--violetColor);
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
    transition: 300ms;
}
.footer__link:hover::before{
    transform: scaleX(1);
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #790FF1;
    position: absolute;
}
.circle1 {
    left: 125px;
    bottom: 94px;
    width: 73px;
    height: 73px;
}
.circle2 {
    left: 61%;
    top: -180px;
}
.circle3 {
    width: 120px;
    height: 120px;
    border-color: #7177F1;
    bottom: 75px;
    left: 128px;
    z-index: -2;
}
.cube {
    width: 98px;
    height: 98px;
    border: 5px solid #7177F1;
    position: absolute;
}
.cube1 {
    right: 89px;
    transform: rotate(40deg);
    bottom: 30px;
}
.cap__acc {
    position: relative;
}
.circle4 {
    left: 28px;
    top: -54px;
    border-color: #9297EF;
}
.circle5 {
    right: 113px;
    bottom: -88px;
    border-color: #9297EF;
}
.circle6 {
    left: 12%;
    top: -60px;
}
.cube2 {
    width: 80px;
    height: 80px;
    border-color: #9297EF;
    transform: rotate(45deg);
    left: 34px;
    top: 17px;
}
.cube3 {
    right: 159px;
    top: -11px;
    border-color: #9297EF;
}
.cube4 {
    width: 80px;
    height: 80px;
    right: 16.2%;
    top: 50%;
    transform: rotate(46deg);
}